@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-black">
<p>Welcome to Daily Dime!</p>
<ul>
    <li><strong>Dashboard:</strong> The dashboard gives you a quick overview of your income, expenses, and charts. It can not be edited besides the date range which allows you to see transactions within a specified timeframe.</li>
    <li>
        <strong>Categories:</strong>  In the categories page you can create categories to organize your transactions. Each category is user-specific and you have the option to choose whether that category is an income or expense when creating it.
    </li>
    <li><strong>Transactions:</strong> Add transactions with dates and your selected categories that also tells us if it's an income or expense.</li>
    <li><strong>Reports:</strong> View a detailed report and download it as a PDF for a selected date range.</li>
</ul>
</div>