

<div class="sidebar-fixed d-flex flex-column">
    <div class="sidebar-header d-flex justify-content-between align-items-center p-3">
        <img src="~/logo.ico" alt="Logo" class="sidebar-logo">

        <button id="sidebarToggle" class="btn btn-sm btn-outline-secondary">
            &laquo;
        </button>
    </div>

    <ul class="nav flex-column" id="sidebarMenu">
        <li class="nav-item">
            <div class="sidebar-label">General</div>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" asp-controller="Dashboard" asp-action="Index">
                <i class="fa-solid fa-house"></i>
                <span class="link-text ms-2">Dashboard</span>
            </a>
        </li>
  

      

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Category">
                <i class="fa-solid fa-folder-closed"></i>
                <span class="link-text ms-2">Categories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/Transaction">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                <span class="link-text ms-2">Transactions</span>
            </a>
        </li>
       
        <li class="nav-item">
            <div class="sidebar-label">Extras</div>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center " href="/Report">
                <i class="fa-solid fa-chart-simple"></i>
                <span class="link-text ms-2">Reports</span>
            </a>
        </li>
   
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link d-flex align-items-center w-100 text-start btn btn-link text-white" style="background: none; border: none; text-decoration: none;">
                    <i class="fa-solid fa-user"></i>
                    <span class="link-text ms-2">Logout</span>
                </button>
            </form>
        </li>
    </ul>
</div>

