
@{
    ViewData["Title"] = "Help";
    ViewData["HideSidebar"] = true;
}
<h1>Help & User Guide</h1>
<partial name="_HelpContent" />

<p>Welcome to the Help page! Here's how to use the app:</p>

<h3>1. Dashboard</h3>
<p>The dashboard gives you a quick overview of your income, expenses, and charts. It can not be edited besides the date range which allows you to see transactions within a specified timeframe.</p>

<h3>2. Categories</h3>
<p> In the categories page you can create categories to organize your transactions. Each category is user-specific and you have the option to choose whether that category is an income or expense when creating it.</p>

<h3>3. Transactions</h3>
<p>Add transactions with dates and your selected categories that also tells us if it's an income or expense.</p>

<h3>4. Reports</h3>
<p>View a detailed report and download it as a PDF for a selected date range.</p>

<h3>5. Tips</h3>
<ul>
    <li>Make sure you're logged in to access personal features.</li>
    <li>Use the date filters on the report page to customize your summary.</li>
    <li>Check charts on the dashboard for quick insights.</li>
</ul>
